// С таким обилием цветов правильнее было бы назвать тогда color1, color2 и т.д.
$primary: #38393D;
$secondary: #7D8CA1;
$action: #7CABE3;
$sub-secondary: #71747C;
$grey: #D5DCE5;
$grey-light: #E5E9EF;
$grey-secondary: #D2DAE4;
$grey-border: #BAC4D0;
$grey-background: #F0F3F8;
$dark: #212121;
$background-blur: rgba(0, 0, 0, 0.2);
$error: #ad2020;